body,
html {
	height: 100%;
	background: #282C34;
}

body {
	min-width: 320px;
	font-family: "SFText", Roboto, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	color: #333;
}

body {
	display: flex;
	flex-direction: column;
}

.wrapper {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
}

.wrapper {
	overflow: hidden;
	background: #F0F4FC;
	padding-bottom: 50px;
}

.container {
	max-width: 480px;
	padding: 0 20px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

section {
	padding: 80px 0;
}

/* Font Style =================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: "SFDisplay", Roboto, sans-serif;
	line-height: 1.2;
}

h1 {
	font-size: 56px;
	font-weight: 800;
}

h2 {
	font-size: 48px;
	font-weight: 800;
}

h3 {
	font-size: 36px;
	font-weight: 700;
}

h4 {
	font-size: 24px;
	font-weight: 700;
}

h5 {
	font-size: 18px;
	font-weight: 500;
}

h6 {
	font-size: 16px;
	font-weight: 500;
}

a {
	line-height: 1;
	color: #333;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

a:hover,
a:active,
a:visited {
	text-decoration: none;
}

.theme-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 0.8;
	transition: opacity 0.3s ease-in-out;
	z-index: 9999;
}

.theme-icon:active {
	opacity: 1;
}

.theme-icon__light {
	background: url("../img/ic-light.png") no-repeat center;
	background-size: cover;
}

.theme-icon__dark {
	background: url("../img/ic-dark.png") no-repeat center;
	background-size: cover;
}

.header {
	width: 100%;
	min-height: 150px;
	background: url("../img/header-img.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.profile {
	margin-top: -64px;
	position: relative;
	z-index: 1000;
}

.profile__container {
	text-align: center;
}

.profile__photo {
	display: inline-block;
	width: 128px;
	height: 128px;
	background: url("../img/my-photo.jpg") no-repeat center;
	background-size: cover;
	border-radius: 100px;
	border: 4px solid white;
	z-index: 1000;
}

.profile__name {
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	margin-top: 10px;
}

.profile__name span {
	display: inline-block;
	font-family: "SFText", Roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #828282;
	margin-top: 10px;
}

.box-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
	width: 100%;
	margin-top: 30px;
}

.info__list {
	width: 100%;
	background: #FFFFFF;
	box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	padding: 30px 20px;
	color: #4F4F4F;
}

.info__item {
	font-family: "SFText", Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	padding-left: 25px;
}

.info__item:not(:last-child) {
	margin-bottom: 15px;
}

.info__item:before {
	content: '';
	width: 10px;
	height: 10px;
	background: url("../img/dot-list_light.svg") no-repeat center;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 5px;
}

.contacts {
	width: 100%;
	margin-top: 30px;
}

.contacts__container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-rows: (1fr)[3];
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 15px;
}

.btn {
	width: 100%;
	border-radius: 8px;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	font-family: "SFText", Roboto, sans-serif;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: 0 30px;
	transition: all 0.35s ease-in-out;
	opacity: 1;
}

.btn:active,
.btn:hover {
	opacity: 0.9;
}

.btn__behance {
	background: #1769FF;
	box-shadow: 0px 4px 8px rgba(23, 105, 255, 0.4);
}

.btn__github {
	background: linear-gradient(90deg, #8F32AD 0%, #B150D0 100%);
	box-shadow: 0px 4px 8px rgba(155, 60, 185, 0.4);
}

.btn__instagram {
	background: linear-gradient(90deg, #F9ED32 -128.92%, #EE2A7B 37.35%, #D22A8A 74.3%, #8B2AB2 148.2%, #1B2AF0 254.43%, #002AFF 277.52%);
	box-shadow: 0px 4px 8px rgba(238, 42, 123, 0.4);
}

.btn__telegram {
	background: #0088CC;
	box-shadow: 0px 4px 8px rgba(0, 136, 204, 0.4);
}

.btn__skype {
	background: #00AFF0;
	box-shadow: 0px 4px 8px rgba(0, 175, 240, 0.4);
}

.btn__viber {
	background: linear-gradient(266.38deg, #A365D6 2.89%, #8F5DB7 96.47%);
	box-shadow: 0px 4px 8px rgba(143, 93, 183, 0.4);
}

.btn__whatsapp {
	background: linear-gradient(86.85deg, #2FB744 0.65%, #45C95A 97.5%);
	box-shadow: 0px 4px 8px rgba(68, 199, 88, 0.4);
}

.btn__vk {
	background: #0077FF;
	box-shadow: 0px 4px 8px rgba(0, 119, 255, 0.4);
}

.btn__email {
	width: 100%;
	background: #FF8B3B;
	box-shadow: 0px 4px 8px rgba(255, 152, 60, 0.4);
}

.btn__icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	margin-top: -2px;
}

.ic-behance {
	background-image: url("../img/ic-behance.svg");
}

.ic-github {
	background-image: url("../img/ic-github.svg");
}

.ic-instagram {
	background-image: url("../img/ic-instagram.svg");
}

.ic-telegram {
	background-image: url("../img/ic-telegram.svg");
}

.ic-skype {
	background-image: url("../img/ic-skype.svg");
}

.ic-viber {
	background-image: url("../img/ic-viber.svg");
}

.ic-whatsapp {
	background-image: url("../img/ic-whatsapp.svg");
}

.ic-phone {
	background-image: url("../img/ic-phone.svg");
}

.ic-vk {
	background-image: url("../img/ic-vk.svg");
}

.ic-email {
	background-image: url("../img/ic-email.svg");
}

.footer {
	width: 100%;
	margin: 0 auto;
	background-color: #FFFFFF;
	text-align: center;
	padding: 20px;
	color: #828282;
	font-size: 14px;
}

.dark-theme__bg {
	background-color: #212121;
}

.dark-theme__bg--block {
	background-color: #2D2D2D;
}

.dark-theme__title {
	color: #E4E4E4;
}

.dark-theme__text {
	color: #7E7E7E;
}

.dark-theme__btn {
	box-shadow: none !important;
}

.dark-theme__item:before {
	content: '';
	width: 10px;
	height: 10px;
	background: url("../img/dot-list_dark.svg") no-repeat center;
	position: absolute;
	left: 0;
	top: 5px;
}

@media (max-width: 480px) {
	.header {
		background: url("../img/header-img_phone.jpg") no-repeat center;
		min-height: 100px;
	}
}

@media (max-width: 390px) {
	.profile__photo {
		width: 96px;
		height: 96px;
	}

	.box-container {
		flex-direction: column-reverse;
	}

	.info__list {
		padding: 20px;
	}

	.btn {
		padding: 0 20px;
	}

	.btn__icon {
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}
}

@media (max-width: 360px) {
	.btn__text {
		display: none;
	}

	.btn__icon {
		margin-right: 0;
	}
}